@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;

        scroll-behavior: smooth;
    
      
  }

  
  
}
